:root {
    background-image: url(../Images/background.png);
}

.cards {
    background-image: url(../Images/background.png);
}

.jumbotron {
    background-image: url(../Images/background.png);
}

body {
    background-image: url(../Images/background.png);
    justify-content: center;
}
