:root {
    background-image: url(/Assets/Images/background.png)
}

.cards {
    background-image: url(/Assets/Images/background.png);
}

.jumbotron {
    background-image: url(/Assets/Images/background.png);
}

body {
    background-image: url(/Assets/Images/background.png);
    justify-content: center;
}
