:root {
    background-image: url(../Images/background.png);
}

.cards {
    background-image: url(../Images/background.png);
}

.jumbotron {
    background-image: url(../Images/background.png);
}

body {
    background-image: url(../Images/background.png);
    justify-content: center;
}

.gameName {
    font-family: 'Pacifico', cursive;
    color: rgb(47, 79, 79)
}

h3 {
    font-family: 'Shrikhand', cursive;
    color: rgb(47, 79, 79)
}